[submodule "dep/luafilesystem"]
	path = dep/luafilesystem
	url = git@github.com:keplerproject/luafilesystem.git
[submodule "dep/lgi"]
	path = dep/lgi
	url = git@github.com:pavouk/lgi.git
[submodule "dep/LuaJIT"]
	path = dep/LuaJIT
	url = git@github.com:LuaJIT/LuaJIT.git
